<!DOCTYPE html>
<html>
    <head>
        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAacr/AACm/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiICIgAAAAAhESERIAAAACEREREgAAAAAhEREgAAAAIAIREgAgAAISACIgAhIAAhIAAAACEgAAIAIAAgAgAAAAISAhIAAAAAAhICEgAAAAAAIAAgAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP//AADxHwAA4A8AAOAPAADwHwAA2DcAAIxjAACP4wAA27cAAPEfAADxHwAA+78AAP//AAD//wAA" rel="icon" type="image/x-icon" />
        <title>Bailey's Site</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
        <h1>Welcome to <em>Bailey's Site</em></h1>
        <h3>To upload a picture, first upload it for free to <a href="https://imgur.com/">Imgur.com</a>,<br />
            and then use the image url for the post on this site.</h3>
		<a href="/pics" class="btn btn-lg btn-success">Let's Look At Some Cute Pics of Bailey!</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
		
</body>
</html>